@{
    ViewData["Banner Title"] = "Cuisine";
}

<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-5 col-md-push-1">
        <p class="oxygen">Tastes of the World</p>
        <p>Whether you're after the tastes of the Mediterranean of some oriental delights, then Canberra has the reataurant for you.</p>
        <p>Check out what's on offer by selecting a cuisine from the menu below.</p>
    </div>
    <div class="col-md-5 col-md-push-1">
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/burger.jpg" />
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/pasta.jpg" />
        </div>
    </div>
</div>

<section id="cuisine-list">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-italian">Italian</a>
            </h4>
          </div>
          <div id="cuisine-italian" class="panel-collapse collapse">
            <div class="panel-body">
				<!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="https://italianandsons.com.au/">Click Here</a> for the Italian and Sons website or <a href="#">Click Here</a> for more information on Italian Cuisine.</p>
                    </div>
                </div>	
				<!-- start cuisine item -->

                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/jamie_logo.png" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Jamie's Italian</p>
                        <p>"With Prime position in the Canberra Centre on Bunda Street, Jamie's Italian is the perfect place for a mid-shopping pit stop, or a buzzing evening out. With beautiful room-height windows and impressive lofty ceilings, the restaurant is full if atmosphere'" - Jamie's Italian Website</p>
                        <p><a href="https://www.jamieoliver.com/italian/australia/restaurants/canberra/">Click Here</a> for the Jamie's Italian Canberra website or <a href="#">Click Here</a> for more information on Italian Cuisine.</p>
                    </div>
                </div>  
                <!-- start cuisine item -->	
			</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-asian">Asian</a>
            </h4>
          </div>
          <div id="cuisine-asian" class="panel-collapse collapse">
				<div class="panel-body">
                    <!-- start cuisine item -->
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive" src="~/images/chairman_logo.png" />
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="oxygen">Chairman & Yip</p>
                            <p>"The Chairman & Yip has become one of Canberra's longest standing and most highly regarded institutions, having received numerous awards over the years, offering an ever consistent and professional quality of service for corporate dining, conferences and presentations." - Chairman & Yip Website</p>
                            <p><a href="http://chairmangroup.com.au/chairmanyip/">Click Here</a> for the Chairman & Yip website or <a href="#">Click Here</a> for more information on Asian Cuisine.</p>
                        </div>
                    </div>  
                    <!-- start cuisine item -->

                    <!-- start cuisine item -->
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive" src="~/images/noodle_logo.jpg" />
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="oxygen">Dickson Asian Noodle House</p>
                            <p>"The Dickson Asian Noodle House specialises in traditional Malaysian, Thai and Lao cuisine. The dining atmosphere is casual and cosy providing for a carte dining, banquets and take away" - Vibe FM Website</p>
                            <p><a href="https://www.facebook.com/pages/Dickson-Asian-Noodle-House/156690017692038">Click Here</a> for the Dickson Asian Noodle House Facebook page or <a href="#">Click Here</a> for more information on Asian Cuisine.</p>
                        </div>
                    </div>  
                    <!-- start cuisine item --> 
    			</div>
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-indian">Indian</a>
            </h4>
          </div>
          <div id="cuisine-indian" class="panel-collapse collapse">
				<div class="panel-body">
                    <!-- start cuisine item -->
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive" src="~/images/bluginger_logo.png" />
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="oxygen">Blu Ginger</p>
                            <p>"At Blu Ginger we use only the freshest locally sourced produce, combined with authentic spices imported directly from the sub-continent, to offer classic, traditional recipes with a modern twist, creating a unique and memorable dining experience for you." - Blu Ginger Website</p>
                            <p><a href="http://www.bluginger.com.au/">Click Here</a> for the Blu Ginger website or <a href="#">Click Here</a> for more information on Indian Cuisine.</p>
                        </div>
                    </div>  
                    <!-- start cuisine item -->

                    <!-- start cuisine item -->
                    <div class="row">
                        <div class="col-md-2">
                            <img class="img-responsive" src="~/images/jewel_logo.jpg" />
                        </div>

                        <div class="col-md-9 col-md-offset-1">
                            <p class="oxygen">Jewel of India</p>
                    <p>"Finding a balance between dishes inspired by authentic recipes and creating a modern take on classic cuisine sees a loyal following of Canberra locals returning for a mouth-watering feast." - Australian Good Food Guide Website</p>
                    <p><a href="https://jewelofindia.com.au/">Click Here</a> for the Jewel of India website or <a href="#">Click Here</a> for more information on Indian Cuisine.</p>
                    </div>  
                    <!-- start cuisine item --> 
				</div>
            </div>
        </div>
      </div> 
</section>

<!--
<section id="review">
    
</section>-->