@{
    ViewData["Banner Title"] = "Cuisine";
}

<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-5 col-md-push-1">
        <p class="oxygen">Tastes of the World</p>
        <p>Whether you're after the tastes of the Mediterranean of some oriental delights, then Canberra has the reataurant for you.</p>
        <p>Check out what's on offer by selecting a cuisine from the menu below.</p>
    </div>
    <div class="col-md-5 col-md-push-1">
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/burger.jpg" />
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/pasta.jpg" />
        </div>
    </div>
</div>

<section id="cuisine-list">
    <div class="panel-group" id="accordion">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-italian">Italian</a>
            </h4>
          </div>
          <div id="cuisine-italian" class="panel-collapse collapse in">
            <div class="panel-body">
				<!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>	
				<!-- start cuisine item -->

                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>  
                <!-- start cuisine item -->	
			</div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-asian">Asian</a>
            </h4>
          </div>
          <div id="cuisine-asian" class="panel-collapse collapse">
                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>  
                <!-- start cuisine item -->

                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>  
                <!-- start cuisine item --> 
            </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title">
              <a data-toggle="collapse" data-parent="#accordion" href="#cuisine-indian">Indian</a>
            </h4>
          </div>
          <div id="cuisine-indian" class="panel-collapse collapse">
                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>  
                <!-- start cuisine item -->

                <!-- start cuisine item -->
                <div class="row">
                    <div class="col-md-2">
                        <img class="img-responsive" src="~/images/is.jpg" />
                    </div>

                    <div class="col-md-9 col-md-offset-1">
                        <p class="oxygen">Italian and Sons</p>
                        <p>"A casual Italian trattoria that specialises in wood fired pizzas such as Rucola with Prosciutto di Parma, rucola & reggiano. Don't miss daily changing main dishes of the day such as their wood roast suckling pig, rosemary, garlic, baked baby fennel & mustard fruits." - Australian good Food Guide</p>
                        <p><a href="#">Click Here</a> for the Italian and Sons website.</p>
                    </div>
                </div>  
                <!-- start cuisine item --> 
            </div>
        </div>
      </div> 
</section>

<!--
<section id="review">
    
</section>-->