@{
    ViewData["Banner Title"] = "Dishes";
}

<div class="row" style="margin-bottom: 50px;">
    <div class="col-md-5 col-md-push-1">
        <p class="oxygen">A dish for every taste</p>
        <p>If you've got a hankering for a big bowl of handmade pasta or a delicious, spicy laksa, then look no further.</p>
        <p>Check out what;s on offer by selecting a dish from the menu below.</p>
    </div>
    <div class="col-md-5 col-md-push-1">
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/burger.jpg" />
        </div>
        <div class="col-xs-6">
            <img class="img-responsive" src="~/images/pasta.jpg" />
        </div>
    </div>
</div>