<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB5eTBtG6z_SbTYEkq29o1uBSLsgUfcXWM"></script>
<br />
<div class="row">
    <div class="col-md-7">
        <img src="~/images/5p/img/Canberra_Zoo/c1.png" style="height:100%; width:100%;"/>
        <br />
    </div>
    <div class="col-md-5">
        <p class="niconne">Canberaa Zoo</p>
        <p style="font-size:17px">The National Zoo and Aquarium is privately owned by Canberra businessman Richard Tindale, and is maintained as a predominantly family-run business. The zoo receives no Government or Commonwealth support, and relies on entry fees from the public to continue operations. The zoo also relies on a large number of volunteer recruits to aid in the management of its grounds and the animals residing there.</p>
		<p style="font-size:17px">Australian animals at the zoo include dingos, koalas, red kangaroos, western grey kangaroos, swamp wallaby, parma wallaby, emu, Tasmanian devils, little penguins and wombats.</p>
    </div>
</div>
<br />
<hr>
<div class="row">
    <div class="col-md-6">
        <p><b>Comments</b></p>
        <form action="#">
            <textarea name="message" rows="12" cols="200"></textarea>
            <br />
            <input type="submit">
        </form>
    </div>
    <div class="col-md-6">
	<p><b>Location</b></p>
        <script>


                var map;
            var canberraCentre = new google.maps.LatLng(-35.2988266, 149.0681533);
                function initMap() {
                    var canberraMap = {
                        center: canberraCentre,
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(
                        document.getElementById("googleMap"), canberraMap);
                }

                google.maps.event.addDomListener(window, 'load', initMap);
        </script>


        <div id="googleMap" style="width:350px;height:250px;"></div>

    </div>

</div>
<br />

<hr>
<div class="row">
	<div class="col-lg-12">
		<p class="niconne">Photo Gallery</p>
    </div>
</div>
<hr>

<div class="row" style="margin-bottom: 50px; margin-top: 50px;">

    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c2.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c4.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c5.png" />

    </div>
</div>
<div class="row" style="margin-bottom: 50px; margin-top: 50px;">

    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c6.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c8.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Canberra_Zoo/c9.png" />
    </div>
</div>