<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB5eTBtG6z_SbTYEkq29o1uBSLsgUfcXWM"></script>
<br />
<div class="row">
    <div class="col-md-7">
        <img src="~/images/5p/img/Telstra_Tower/t1.png" style="height:100%; width:100%;"/>
        <br />
    </div>
    <div class="col-md-5">
        <p class="niconne">Telstra Tower</p>
        <p style="font-size:17px">Telstra Tower (also known as Black Mountain Tower and formerly Telecom Tower) is a telecommunications tower and lookout that is situated above the summit of Black Mountain in Australia's capital city of Canberra.</p>
		<p style="font-size:17px">It is named after Australia's largest telecommunications company, Telstra Corporation. Rising 195.2 metres (640 ft) above the mountain summit, it is a landmark in Canberra and offers panoramic views of the city and its surrounding countryside from an indoor observation deck and two outdoor viewing platforms.</p>
		<p style="font-size:17px">Telstra Tower is one of the most visually imposing structures on the Canberra skyline, visible from many parts of Canberra and Queanbeyan.</p>
    </div>
</div>
<br />
<hr>
<div class="row">
    <div class="col-md-6">
        <p><b>Comments</b></p>
        <form action="/action_page.php">
            <textarea name="message" rows="12" cols="200"></textarea>
            <br />
            <input type="submit">
        </form>
    </div>
    <div class="col-md-6">
    <p><b>Location</b></p>
        <script>


                var map;
            var canberraCentre = new google.maps.LatLng(-35.2755735, 149.0956194);
                function initMap() {
                    var canberraMap = {
                        center: canberraCentre,
                        zoom: 15,
                        mapTypeId: google.maps.MapTypeId.ROADMAP
                    };

                    map = new google.maps.Map(
                        document.getElementById("googleMap"), canberraMap);
                }

                google.maps.event.addDomListener(window, 'load', initMap);
        </script>


        <div id="googleMap" style="width:350px;height:250px;"></div>

    </div>

</div>
<br />

<hr>
<div class="row">
    <div class="col-lg-12">
        <p class="niconne">Photo Gallery</p>
    </div>
</div>
<hr>

<div class="row" style="margin-bottom: 50px; margin-top: 50px;">

    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t6.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t7.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t9.png" />
       
</div>
    </div>
<div class="row" style="margin-bottom: 50px; margin-top: 50px;">

    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t4.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t10.png" />
    </div>
    <div class="col-lg-4">
        <img src="~/images/5p/img/Telstra_Tower/t13.png" />
    </div>
</div>

