@model Assignment2.Models.Reviews

@{
    ViewData["Title"] = "Edit";
}

<h2 class="bor">Edit Review</h2>
<section class="row">
    <form asp-action="Edit" class="col-md-6">
        <div class="form-horizontal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Heading" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Heading" class="form-control" />
                    <span asp-validation-for="Heading" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Rating" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Rating" class="form-control" />
                    <span asp-validation-for="Rating" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Restaurant" class="col-md-2 control-label">Restaurant</label>
                <div class="col-md-10">
                    <input asp-for="Restaurant" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Date" class="form-control" readonly />
                    <span asp-validation-for="Date" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Comments" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <textarea asp-for="Comments" class="form-control" style="height:150px"></textarea>
                    <span asp-validation-for="Comments" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Agree" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Agree" class="form-control" />
                    <span asp-validation-for="Agree" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <label asp-for="Disagree" class="col-md-2 control-label"></label>
                <div class="col-md-10">
                    <input asp-for="Disagree" class="form-control" />
                    <span asp-validation-for="Disagree" class="text-danger" />
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-default" />
                </div>
            </div>
        </div>

        <div>
            <a asp-area="" asp-controller="Home" asp-action="Reviews">Back to List</a>
        </div>

    </form>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
